
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
  color: #7f8c8d;
  padding: 15px 0;
  text-align: center;
  background: #2d3e50;
}

#main {
    margin-top: 40px;
    padding-bottom: 95px; /* 55 + 40 */
}
