
<%inherit file="base.html"/>

<%block name="head">
    <style type="text/css" media="all">
        .boxes > a {
            color: #fff;
        }
    </style>
</%block>
<div class="am-g">
    <div class="am-u-sm-8">
        <p>当前分数：${score}</p>

        <div class="am-g boxes" id="grid" style="margin-left:0px">
            %for i in lst:
                <a class="am-u-sm-4 am-btn ${'am-u-end' if loop.index == loop.last else ''} ${'am-btn-success' if int(i[0]) in solved else 'am-btn-primary'}" href="${url_for('game_get', i[0])}">${i[1]} - ${i[2]}分</a>
            %endfor
        </div>
    </div>
    <div class="am-u-sm-4">
        <span>排行榜</span>
        <table class="am-table">
            <thead>
                <tr>
                    <th>用户名</th>
                    <th>分数</th>
                </tr>
            </thead>
            <tbody>
                % for k, v in score_board.items():
                    <tr>
                        <td>${k}</td>
                        <td>${v}</td>
                    </tr>
                % endfor
            </tbody>
        </table>
    </div>
</div>

<%block name="script">
<script>
    function game_click(game_id) {
        $.get("${url_for('game_get', -123)}".replace("-123", game_id), function(resp) {
            alert(resp);
        });
    }
    (function() {
	})();
</script>
</%block>
