
<%inherit file="../base.html"/>

<%block name="header">
    <style type="text/css" media="all">
    </style>
</%block>


<div class="am-u-lg-12">
    <form method="post" class="am-form">
        ${xsrf_token}
        <label for="username">帐号:</label>
        <input type="text" name="username" id="username" value="">
        <br>
        <label for="password">密码:</label>
        <input type="password" name="password" id="password" value="">
        <br>
        <label for="remember-me">
            <input id="remember-me" type="checkbox">
            记住密码
        </label>
        <br/>

        <div class="am-cf">
            <input type="submit" name="" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
        </div>
    </form>
</div>

<%block name="script">
<script>
    (function() {
        ;
	})();
</script>
</%block>
